body {
  font-family: Arial, sans-serif;
  background: #dfafaf;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #e5e2e2;
  padding: 20px;
  border-radius: 8px;
}

.task-form input,
.task-form select,
.task-form button {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.filters {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 5px solid #aa5656;
  padding: 10px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.overdue {
  color: red;
  font-weight: bold;
}
